body{
    background-image: url(../mera.gif); 
}
.first{
    margin-top:0;
     padding: auto;
    text-align: center;
    background-color: black;
    color:white;
    height:760px;
    display:flex;
    justify-content: center;
}
.second{
     height:100%;
     color:black;
    width:100%;
    background-color:white;;
    
}
.first01{
     
    align-items: center;
    margin-top: 90px;
    width:70rem;
}
.second01{
    margin-top: 50px;
    
}
.face{

    margin-bottom: 8px;
    height:50px;
    width:400px;
     
}

.twit{
   
    margin-bottom: 8px;
     height:50px;
    width:400px;
 
}

.goog{
     
    height:50px;
   width:400px;

}

input{
    box-shadow: 4px 2px 2px whitesmoke;
    width:30rem;
    height:40px;
    border:0px;
}

button{
    cursor: pointer;
    border-radius: 2px ;
    border: none;
    color: white;
    font-size: x-large;
    align-items: center;
    margin-left: 120px;;
    height:50px;
    width:450px;
    background-color: rgb(71, 71, 167);
    opacity: 1;
}

.img{
    display:inline-flex;
    
}

#st{
    background-color: rgb(1, 78, 210);
}

#st:hover{
    transition:all 2s ease-out 0.2;
    background-color:rgb(6, 88, 230) ;
    /* font-size: medium; */
}

#sf{
    background-color: rgb(17, 114, 234);
}

#sf:hover{
    transition:all 2s ease-out 0.2;
     background-color: rgb(31, 131, 252);
}


#sg{
    background-color: rgb(207, 16, 16);
}

#sg:hover{
    transition:all 2s ease-out 0.2;
    background-color: rgb(228, 4, 4);
}


.last{
    margin-right: 40px;
}

button:hover{

    width:490px;
    background-color: rgb(10, 77, 177) ;
    transition-timing-function: ease-out;
    transition-duration: .2s;
    transition-property: all;
}
 